<a href="/" class="btn btn-secondary mb-3">Volver</a>

<form action="/productos" method="POST" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" name="nombre" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción</label>
    <textarea name="descripcion" class="form-control" rows="2"></textarea>
  </div>
  <div class="mb-3">
    <label for="precio" class="form-label">Precio</label>
    <input type="number" step="0.01" name="precio" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="imagen" class="form-label">Imagen</label>
    <input type="file" name="imagen" class="form-control" required>
  </div>
  <button class="btn btn-success">Guardar producto</button>
</form>
